*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    overflow: hidden;
}
header figure, img{
    padding: 6px;
}

main{
    background-color: rgb(52, 120, 179);

}

footer{
    background-color: black;
    height: 200px;

}

