*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    gap: 0px;
}

html ,body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    
}