.main {
    position: relative;
    display: flex;
    flex: 1;
    
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.fixed {
    flex: 1;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    overflow: auto;
    
}

#ong {
    border-radius: 0px 10px 10px 0px;
}

.form-ong, .form-adotante {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: auto;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    
}

.form-ong input, .form-adotante input{
    width: 100%;
    height: 50px;
    display: flex;
    border-radius: 30px;
    padding: 20PX;
    
    
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-cadastro{
    width: 100%;
    justify-content: center;
    display: flex;
}

.btn-cadastro button{
    width: 50%;
    height: 50px;
    border-radius: 30px;
    background-color: #f36e20;
    color: white;
    border: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.info-cadastro-ong{
    position: absolute;
    right: 0px;
    background-color: rgb(255, 247, 235);
    width: 42%;
    height: 100%;
    justify-content: center;
    display: flex;
}

.info-cadastro-adotante{
    position: absolute;
    left: 0px;
    width: 42%;
    height: 100%;
    background-color: rgb(255, 247, 235);
    justify-content: center;
    display: flex;
    
    
}
.overlay {
    position: absolute;
    z-index: 2;
    top: 0px;
    gap: 40px;
    left: 0px;
    background-color: rgb(255, 247, 235);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    transition: 1.5s;

}

.overlay:hover {
    transform: ease;
}


.overlay-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
}

.e1-pet-ong, .e2-pet-adotante {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease; /* Para transições suaves */
}
.e1-pet-ong{
   left: 100%;
    display: block;
}
.e2-pet-adotante{
    left: 0%; /* Corrigido para 50% */
    display: none;
}


.button-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    font-family: monospace;
    gap: 4px;
}

.button-overlay button {
    border-radius: 20px;
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    background-color: #f36e20;
}

.button-overlay h2 {
    color: white;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
    font-size: 40px;

}button:hover {
  background-color: #000000;
  color: white;
}
