.card-animais{
    background: linear-gradient(30deg,#f9b233 , #f87e00);
    width: 300px;
    height: 400px;
    border-radius: 30px;
    overflow:hidden;
    display: flex;
    flex-direction: column;

}


.img-pet{
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: center;
    
}
.img-pet img{
    width: 200px;
    border-radius: 15px;
    height: 200px;
    object-fit: cover;
}


.corpo{
    background-color: white;


    
}

.container-cards{
    background-color: #ebebeb;
    width: 100%;
    border-radius: 30px;
    padding: 5px;

}

.cat-container{
    justify-content: center;
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    margin: 10px;
    padding: 5px;
}
.container-nav-cards{
    display: flex;
    gap: 10px;
    width: 100%;
    background-color: #ebebeb;
    padding: 5px;
}
.informacoes{
    font-size: 18px;
}
.pesquisar-animais{
    width: 50%;
}
.pesquisar-animais input{
    width: 50%;
    height: 4em

}




.apresent{
    background-color: #fde6d6;
    display:flex;
    flex-direction: column;
    border-radius: 30px;
    
    align-items: center;

}

.apresent p {
    color:#704635;
    text-align: center;
}

