.card-animais{
    background: linear-gradient(30deg,#f9b233 , #f87e00);
    width: 300px;
    height: 400px;
}

.img-pet{
    overflow: hidden;
    padding: 10px;
}
.img-pet img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}


.corpo{
    background-color: white;

    
}

.container-nav-cards{
    background-color: rgb(196, 196, 196);
}




.apresent{
    display:flex;
    flex-direction: column;
    
    align-items: center;

}

c