@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main {
  display: flex;
  flex: 1;
  background-color: #603020;
  background-image: url(/Aumigos/front-end/src/assets/img/patas.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.section {
  max-width: 100%;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 90px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imgGatinho img {
  width: 400px;
  min-width: 250px;
  margin-bottom: -5px;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #f2f5f7;
  padding: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 400px;
  border-radius: 20px;
  font-family: 'montserrat';  
  margin-bottom: 20px;
  box-shadow: 0px 0px 30px black;
}

.form picture, img {
  width: 200px;

}
.form-label {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.form-label input {
  width: 100%;
  padding: 12px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  background: white;
}

.form-label span {
  font-family: "Abril Fatface"; /* Fonte Abril Fatface */
  font-style: italic;
  position: absolute;
  top: 12px;
  left: 12px;
  
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transform-origin: top left;
  transform: translateY(0) scale(1);
  padding: 0 4px;
  color: #f78c1b;
}

.form-label input:focus + span,
.form-label input:not(:placeholder-shown) + span {
  transform: translateY(-30px) scale(0.85);
  
}

input:focus,
input:valid {
  color: #f78c1b;
}

.ajuda{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.entrar {
  width: 100%;
  height: 50px;
  font:15px 'Montserrat';
  border-radius: 20px;
  transition: 0.9s;
}

button:hover {
  background-color: #000000;
  color: white;
}
button {
  background-color: #ce6f17;
  color: white;
  border: none;
}
