*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


html ,body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}
header{
    background-color:#fcaf68;
    width: 100%;
    display: flex;
    overflow: hidden;
}
header figure, img{
    padding: 6px;
}

main{
    display: flex;
    flex:1;
    background-color: rgb(107, 55, 21);
  


}

footer{
    background-color: black;
    height:200px;
}

